<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="text-center mt-3">
            <strong class="diseño-titulos">Digiatar cédula</strong>
        </div>
        <br>
        <div class="container">
            <div class="containersTurns">
                <form>

                    <div class="row">
                        <div class="mt-4 col-md-6 offset-md-2 pantalla">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control bg-light text-center" mask="000-0000000-0" placeholder="Ej: 000-0000000-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-7 offset-md-2">
                            <input type="button" class="mt-2 ml-4 btn boton click" value="1">
                            <input type="button" class="mt-2 ml-4 btn boton click" value="2">
                            <input type="button" class="mt-2 ml-4 btn boton click" value="3">

                            <input type="button" class="mt-3 ml-4 btn boton click" value="4">
                            <input type="button" class="mt-3 ml-4 btn boton click" value="5">
                            <input type="button" class="mt-3 ml-4 btn boton click" value="6">

                            <input type="button" class="mt-3 ml-4 btn boton click" value="7">
                            <input type="button" class="mt-3 ml-4 btn boton click" value="8">
                            <input type="button" class="mt-3 ml-4 btn boton click" value="9">
                            <input style="width: 48%;" type="button" class="mt-3 ml-4 btn boton click" value="0">
                            <input type="button" class="mt-3 ml-4 btn boton click" value="<-">

                        </div>
                    </div>
                    <br>
                    <div class="mt-3">
                        <a routerLink="/turns/options" class="btn btnoptins click" style="margin-right:6em;" role="button">Cancelar</a>
                        <a class="btn btnoptins click" style="color:white" role="button">Aceptar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>