<div class="container-fluid">
    <div class="cuadro">

        <div class="row">
            <div class="col diseño-titulos mt-3">
                <span> <i class="fa fa-question-circle mt-3"></i> Lista Motivos</span>
            </div>
            <!-- Button trigger modal -->
            <div class="d-flex bd-highlight mb-3 col">
                <div class="ml-auto mr-3 mt-1 p-2 bd-highlight">
                    <button type="button" (click)="toggleAdd = !toggleAdd" class="btn btn-primary btn-lg mr-aurto">
                          <i class="fa fa-user-plus"></i>
                      </button>
                    <app-register-motivos (onClose)="onClose($event)" *ngIf="toggleEdit" [motivo]="selected"></app-register-motivos>
                    <app-register-motivos (onClose)="onClose($event)" *ngIf="toggleAdd"></app-register-motivos>
                </div>
            </div>

        </div>
        <hr>
        <div>
            <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Departamento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let motivo of motivos">
                        <td>{{motivo.id_Motivo}}</td>
                        <td>{{motivo.descripcion}}</td>
                        <td>{{motivo.nombreDepartamento}}</td>
                        <td>
                            <button class="btn btn-outline-warning mr-2"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>