@font-face {
    font-family: Poppins-Bold;
    src: url('src/assets/fonts/poppins/Poppins-Bold.ttf');
}

strong p {
    margin-top: 1em;
    font-family: Poppins-Bold;
    font-size: 20px;
}

a {
    font-family: Poppins-Bold;
}

.diseño-titulos {
    font-family: Poppins-Bold;
    font-size: 35px;
}

.pantalla {
    background: white;
    background: white;
    min-width: 13.3em;
    margin-left: 124px;
}

.boton {
    /* estilos para la tipografia del botón*/
    color: #fff;
    font-family: Poppins-Bold;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px;
    /* margin-right: 30px; */
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    /* propiedades para la animacion del boton */
    transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
    position: relative;
    bottom: 0;
    min-height: 9vh;
    min-width: 9vh;
}

.btnoptions {
    background: blue;
    color: #fff;
    font-family: Poppins-Bold;
    font-weight: bold;
    padding: 15px 25px;
    cursor: pointer;
    border: 0;
    transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
    position: relative;
    bottom: 0;
}

.offset-2 {
    margin-left: 17.666667%;
}

.click {
    /* Estilos para el fondo del boton */
    background: #2592f8;
    box-shadow: 0px 5px 0 rgb(2, 28, 143);
}

.boton:active {
    /* Posicion del boton al clickearlo */
    bottom: -5px;
}

.click:active {
    /* Sombra del boton al clickearlo */
    box-shadow: 0 0 0 #9a1604, inset 0 0 5px #000000;
    background: #ff0000;
}