<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="cuadro">
                <div class="diseño-titulos">
                    <i class="fa fa-bullhorn "></i> Atención de turnos
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <div class="container-fluid">
                            <form>
                                <div class="form-row">
                                    <label class="encabezado">Tramite actual</label>
                                    <div class="input-group col-md-12 col-sm-12">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">
                                    </div>
                                    <label class="encabezado">Turno actual</label>
                                    <div class="input-group col-md-12 col-sm-12 ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">

                                    </div>
                                    <label class="encabezado">Estado turno actual</label>
                                    <div class="input-group  col-md-12 col-sm-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">
                                    </div>
                                    <label class="encabezado">Turno en espera</label>
                                    <div class="input-group  col-md-12 col-sm-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                    </div>
                                    <label class="encabezado">Turno atendidos</label>
                                    <div class="input-group  col-md-12 col-sm-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                    </div>
                                    <label class="encabezado">Turnos anulados</label>
                                    <div class="input-group  col-md-12 col-sm-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <a class="btn radio sigiente">
                            <span class="fa fa-arrow-right"></span><span>SIGIENTE</span>
                        </a>
                        <a class="btn radio sigiente">
                            <span class="fa fa-phone "></span><span>LLAMAR</span>
                        </a>
                        <a class="btn radio sigiente">
                            <span class="fa fa-check "></span><span>ATENDER</span>
                        </a>
                    </div>
                    <div class="col-4 col-sm-4">
                        <a class="btn radio sigiente">
                            <span class="fa fa-ban"></span><span>FINALIZAR</span>
                        </a>
                        <a class="btn radio sigiente">
                            <span class="fa fa-trash "></span><span>ANULAR</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>