<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="cuadro">
                <div class="diseño-titulos">
                    <i class="fa fa-bullhorn "></i> Atención de turnos
                </div>
                <hr>
                <div class="container">

                    <div class="row">
                        <div class="col-md">

                            <form>
                                <label class="encabezado">Tramite actual</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input [value]="turn.descripcion" type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">
                                </div>

                                <label class="encabezado">Turno actual</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">

                                </div>
                                <label class="encabezado">Estado turno actual</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="NINGUNO">
                                </div>
                                <label class="encabezado">Turno en espera</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                </div>
                                <label class="encabezado">Turno atendidos</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                </div>
                                <label class="encabezado">Turnos anulados</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" disabled placeholder="0">
                                </div>


                            </form>

                        </div>

                        <div class="col-md">
                            <a class="btn click radio">
                                <span class="fa fa-arrow-right"></span><span>SIGIENTE</span>
                            </a>
                            <a class="btn click radio">
                                <span class="fa fa-phone "></span><span>LLAMAR</span>
                            </a>
                            <a class="btn click radio">
                                <span class="fa fa-check "></span><span>ATENDER</span>
                            </a>
                        </div>
                        <div class="col-md">
                            <a class="btn click radio">
                                <span class="fa fa-ban"></span><span>FINALIZAR</span>
                            </a>
                            <a class="btn click radio">
                                <span class="fa fa-trash "></span><span>ANULAR</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>