<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="cuadro">
                <div class="row">
                    <div class="col diseño-titulos mt-3">
                        <i class="fa fa-users "></i> Lista de usuarios
                    </div>
                    <!-- Button trigger modal -->
                    <div class="d-flex bd-highlight mb-3 col">
                        <div class="ml-auto mr-3 mt-1 p-2 bd-highlight">
                            <button type="button" (click)="toggleAdd = !toggleAdd" class="btn btn-outline-primary btn-lg mr-aurto">
                                <i class="fa fa-user-plus"></i>
                            </button>
                            <app-register (onClose)="onClose($event)" *ngIf="toggleEdit" [user]="selected"></app-register>
                            <app-register (onClose)="onClose($event)" *ngIf="toggleAdd"></app-register>
                        </div>
                    </div>

                </div>
                <hr class="mt-auto">
                <div class="container-fluid">
                    <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cedula</th>
                                <th>Usuarios</th>
                                <th>Departamento</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.Id_Usuario}}</td>
                                <td>{{user.nombre}}</td>
                                <td>{{user.apellido }}</td>
                                <td mask="000-0000000-0">{{user.cedula }}</td>
                                <td>{{user.usuarios}}</td>
                                <td>{{user.nombreDepartamento}}</td>
                                <td>{{user.Estado}}</td>
                                <td>

                                    <!-- Button trigger modal -->
                                    <button (click)="toggleModal(user)" type="button" class="btn btn-outline-warning">
                                            <i class="fa fa-edit" style="color:orange;"></i>
                                    </button>

                                    <button (click)="changeStatus(user.Id_Usuario, user.Estado)" type="button" title="Borrar" class="btn btn-outline-danger" style="margin-left: 2px;">
                                        <i class="fa fa-trash" style="color:red;"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>