<div class="container-fluid">
    <div class="cuadro">
        <div class="diseño-titulos mt-2">
            <i class="fa fa-wrench"></i> Configuracion
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-nav">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="sombra">
                    <li class="nav-item"><a routerLink="/configuration/infoInstitution" routerLinkActive="active-config" title="Información de la institución" class="nav-link">Información de la institución</a></li>
                    <li class="nav-item"><a routerLink="/configuration/infoMultimedia" routerLinkActive="active-config" title="Información multimedia" class="nav-link">Información multimedia</a></li>
                    <li class="nav-item"><a title="Informacion del sistema" class="nav-link">Informacion del sistema</a></li>
                </ul>
            </div>

        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>